/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: replica;
  src: url('/public/Replica-BoldItalic.b7a48e8b.woff2') format("opentype");
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
}
